{% extends "management_app/navigation_bar_base.html" %}

<!--This page inherits from navigation_bar_base. It is used to display inventory item details. -->

{% block nav-inventoryitem-detail %}
<!-- About section -->
  <div class="w3-container w3-sand w3-center w3-text-black w3-padding-32">
    <div class="w3-container w3-sand w3-center w3-text-blue-grey w3-padding-32" style="max-width:100%">
    <h1><b>Inventory Item Detail</b></h1>
      <div class="w3-content w3-justify" style="max-width:600px">
          <hr class="w3-opacity w3-blue-grey">
          <hr class="w3-opacity w3-blue-grey">
      </div>
    </div>

      <p><button class="w3-button w3-blue-grey w3-padding-large w3-margin-top w3-margin-bottom"
               OnClick="location.href= '{% url 'inventoryitem_edit' inventoryitem.item_code %}'" style="width:auto;">Edit Item</button></p>
    <hr class="w3-opacity">
    {% if inventoryitem %}

      <p>Item Code : {{ inventoryitem.item_code }}</p>
      <p>Item Type : {{ inventoryitem.get_item_type_display }}</p>
      <p>Item Status: {{ inventoryitem.get_item_status_display }}</p>
      <p>Last Taken Date: {{ inventoryitem.item_taken}}</p>

      {% else %}
        <p>Something went wrong.</p>
    {% endif %}
    <hr class="w3-opacity">
    <p><button class="w3-button w3-blue-grey w3-padding-large w3-margin-top w3-margin-bottom"
               OnClick="location.href= '{% url 'inventoryitem_delete' inventoryitem.item_code %}'" style="width:auto;">Delete Item</button></p>

    <div class="w3-container w3-sand w3-center w3-text-blue-grey w3-padding-32" style="max-width:100%">
      <div class="w3-content w3-justify" style="max-width:600px">
          <hr class="w3-opacity w3-blue-grey">
          <hr class="w3-opacity w3-blue-grey">
      </div>
    </div>

  </div>
{% endblock %}