{% extends "management_app/navigation_bar_base.html" %}

<!--This page inherits from navigation_bar_base. It is used to display inventory items' history. -->

{% block nav-inventoryitem-interaction %}
<div class="w3-container w3-blue-grey w3-center w3-text-light-grey w3-padding-32">
    <h4><b>Interaction History</b></h4>
    <div class="w3-content w3-justify" style="max-width:600px">
        <hr class="w3-opacity w3-black">
        <hr class="w3-opacity w3-black">
    </div>

</div>

<table id="item_history_list" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Item Code</th>
        <th>Taken By</th>
        <th>Item Taken Date</th>
        <th>Item Status at that time</th>
    </tr>
    </thead>
    <tbody>
    {% if item_history_list %}
    <tr>
        {% for history in item_history_list %}
          <td><a href="{% url 'inventoryitem_detail' history.item.item_code %}">{{ history.item.item_code }}</a></td>
          <td><a href="{% url 'trainer_detail' history.trainer.id %}">{{ history.trainer }}</a></td>
          <td>{{ history.taken_date }}</td>
          <td>{{ history.get_status_at_that_time_display }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <p>This item has no interaction history.</p>
    {% endif %}
    </tbody>
    <tfoot>
    <tr>
        <th>Item Code</th>
        <th>Taken By</th>
        <th>Item Taken Date</th>
        <th>Item Status at that time</th>
    </tr>
    </tfoot>
</table>

<div class="w3-sand w3-container w3-center w3-text-blue-grey w3-padding-32">
    <div class="w3-content w3-justify" style="max-width:600px">
        <hr class="w3-opacity w3-black">
        <hr class="w3-opacity w3-black">
    </div>
</div>

<script>
    $(function(){
    $("#item_history_list").dataTable();
    })
</script>

{% endblock %}